### Prepare data for training

In [3]:
import pandas as pd

glucose_t5 = pd.read_csv("data/t5_training_data.tsv", sep="\t", header=None)

In [4]:
glucose_t5.head()

,0,1
0,2: *Tim got a new dog.* He tried to teach it f...,Tim like(s) dogs >Motivates> Tim got a new dog...
1,6: *Tim got a new dog.* He tried to teach it f...,Tim got a dog >Causes/Enables> Tim tried to te...
2,9: *Tim got a new dog.* He tried to teach it f...,Tim got a dog >Results in> Tim possess(es) a d...
3,7: The family hamster had escaped. *They were ...,The family hamster has escaped >Causes> We fee...
4,1: Kate threw a frisbee to her dog. The dog ca...,Kate's dog caught a frisbee >Causes/Enables> K...

In [9]:
glucose_t5.iloc[0].values

array(['2: *Tim got a new dog.* He tried to teach it fetch. The dog would not fetch. Tim kept trying for five weeks. Soon, the dog was great at playing fetch.',
       'Tim like(s) dogs >Motivates> Tim got a new dog ** Someone_A like(s) Something_A >Motivates> Someone_A got Something_A'],
      dtype=object)

In [13]:
glucose_t5_specific = pd.DataFrame()
glucose_t5_specific["input"] = glucose_t5.iloc[:, 0]

In [14]:
glucose_t5_specific.head()

                                               input
0  2: *Tim got a new dog.* He tried to teach it f...
1  6: *Tim got a new dog.* He tried to teach it f...
2  9: *Tim got a new dog.* He tried to teach it f...
3  7: The family hamster had escaped. *They were ...
4  1: Kate threw a frisbee to her dog. The dog ca...

In [15]:
glucose_t5_specific["target"] = glucose_t5.iloc[:, 1].apply(lambda x: x.split("**")[0].strip())

In [16]:
glucose_t5_specific.head()

,input,target
0,2: *Tim got a new dog.* He tried to teach it f...,Tim like(s) dogs >Motivates> Tim got a new dog
1,6: *Tim got a new dog.* He tried to teach it f...,Tim got a dog >Causes/Enables> Tim tried to te...
2,9: *Tim got a new dog.* He tried to teach it f...,Tim got a dog >Results in> Tim possess(es) a dog
3,7: The family hamster had escaped. *They were ...,The family hamster has escaped >Causes> We fee...
4,1: Kate threw a frisbee to her dog. The dog ca...,Kate's dog caught a frisbee >Causes/Enables> K...

In [17]:
glucose_t5_general = pd.DataFrame()
glucose_t5_general["input"] = glucose_t5.iloc[:, 0]

In [18]:
glucose_t5_general["target"] = glucose_t5.iloc[:, 1].apply(lambda x: x.split("**")[1].strip())

In [19]:
glucose_t5_general.head()

,input,target
0,2: *Tim got a new dog.* He tried to teach it f...,Someone_A like(s) Something_A >Motivates> Some...
1,6: *Tim got a new dog.* He tried to teach it f...,Someone_A got Something_A (that is a pet) >Cau...
2,9: *Tim got a new dog.* He tried to teach it f...,Someone_A got Something_A >Results in> Someone...
3,7: The family hamster had escaped. *They were ...,Something_A has escaped >Causes> Some People_A...
4,1: Kate threw a frisbee to her dog. The dog ca...,Something_A (Kate's dog) caught Something_B (a...

In [ ]:
glucose_t5_specific.to_csv("data/glucose_t5_specific.tsv", sep="\t", header=None, index=None)
glucose_t5_general.to_csv("data/glucose_t5_general.tsv", sep="\t", header=None, index=None)

### Prepare data for inference

In [11]:
import pandas as pd

glucose_test = pd.read_csv("../glucose/test/test_set_answer_key.csv")

In [12]:
glucose_test.head()

,unique_id,story,selected_sentence,worker_ids,1_specificNL,1_generalNL,2_specificNL,2_generalNL,3_specificNL,3_generalNL,...,6_specificNL,6_generalNL,7_specificNL,7_generalNL,8_specificNL,8_generalNL,9_specificNL,9_generalNL,10_specificNL,10_generalNL
0,00294500-d3fe-4bf5-883f-55118bca417c__3,Meg went shopping.****She found a sweater she ...,Three weeks later the sweater went on sale.,A2MHM7JK1T9XHR****A2CMYWI1J292YJ****AGTKQI9PCODC5,escaped,escaped,escaped,escaped,escaped,escaped,...,The sweater went on sale >Causes/Enables> Meg...,Something_A goes on sale >Causes/Enables> Som...,The sweater goes on sale >Causes> Meg feel(s)...,Something_A goes on sale >Causes> Someone_A ...,escaped,escaped,escaped,escaped,escaped,escaped
1,013fe112-3557-4e5f-8617-cb5eac764df1__1,The football team had worked hard all season.*...,They won regionals and were on the way to the ...,A2NGMLBFZ3YQP5****A2MHM7JK1T9XHR****A33DSCVAUO...,The football team had worked hard all season. ...,Some People_A (who are a team) work hard >Caus...,escaped,escaped,escaped,escaped,...,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped
2,013fe112-3557-4e5f-8617-cb5eac764df1__3,The football team had worked hard all season.*...,The team had to use the second string quarterb...,A33DSCVAUOWIQY****A2MHM7JK1T9XHR****A1UYU9PV26...,The quarterback breaks his arm >Causes/Enables...,Someone_A (who is the first choice to play in ...,The team want(s) a quarterback >Motivates> The...,Some People_A want(s) Someone_B (who is on the...,escaped,escaped,...,The team has to use the second string quarterb...,Some People_A (who are a sports team) use Some...,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped
3,01f094f4-e770-42e4-b6cd-6604ac58d810__3,Aaron was coming home from a football game.***...,He pops his hood and smoke flies everywhere.,A1NPSBHME4MVX4****ATR6RB1RULOC0****A33DSCVAUOWIQY,escaped,escaped,escaped,escaped,escaped,escaped,...,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped
4,035e99b6-c39f-4fe7-b5ef-a19fdc4f138f__2,Martin heard a noise.****He looked up to see a...,He screamed and ran upstairs.,A3PPLDHC3CG0YN****A3L0I55SEJU1HJ****A39TKG862P...,escaped,escaped,Martin feel(s) scared >Motivates> Martin scre...,Someone_A feel(s) scared >Motivates> Someone_A...,escaped,escaped,...,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped,escaped

In [13]:
glucose_test.iloc[0]["6_specificNL"]

'The sweater went on  sale >Causes/Enables> Meg bought the sweater****the sweater goes on sale >Causes/Enables> Meg can buy the sweater****The sweater  went  on  sale >Causes/Enables> Meg  bought  the sweater'

In [14]:
def prepare_glucose_t5_input(glucose_row, dim=1):
    story = glucose_row["story"]
    selected_sentence = glucose_row["selected_sentence"]
    sentences = story.split("****")
    story_starred = " ".join([f"*{sentence}*" if sentence.strip() == selected_sentence.strip() else sentence for sentence in sentences])
    return f"{dim}: {story_starred}"

In [15]:
from tqdm import tqdm

glucose_test_t5 = {
    "specific": [],
    "general": []
}

for i, row in tqdm(glucose_test.iterrows(), total=len(glucose_test)):
    for dim in range(1, 11):
        glucose_input = prepare_glucose_t5_input(row, dim=dim)
        for mode in ["specific", "general"]:
            statement = row[f"{dim}_{mode}NL"]
            if statement.strip() != "escaped":
                rules = statement.split("****")
                glucose_test_t5[mode].append({"input": glucose_input, "references": rules, "dimension": dim})

100%|██████████| 500/500 [00:00<00:00, 6423.72it/s]

In [16]:
glucose_test_specific_df = pd.DataFrame(glucose_test_t5["specific"])
glucose_test_general_df = pd.DataFrame(glucose_test_t5["general"])

In [17]:
glucose_test_specific_df.head()

,input,references,dimension
0,6: Meg went shopping. She found a sweater she ...,[The sweater went on sale >Causes/Enables> Me...,6
1,7: Meg went shopping. She found a sweater she ...,[The sweater goes on sale >Causes> Meg feel(s...,7
2,1: The football team had worked hard all seaso...,[The football team had worked hard all season....,1
3,1: The football team had worked hard all seaso...,[The quarterback breaks his arm >Causes/Enable...,1
4,2: The football team had worked hard all seaso...,[The team want(s) a quarterback >Motivates> Th...,2

In [18]:
glucose_test_general_df.head()

,input,references,dimension
0,6: Meg went shopping. She found a sweater she ...,[Something_A goes on sale >Causes/Enables> So...,6
1,7: Meg went shopping. She found a sweater she ...,[Something_A goes on sale >Causes> Someone_A...,7
2,1: The football team had worked hard all seaso...,[Some People_A (who are a team) work hard >Cau...,1
3,1: The football team had worked hard all seaso...,[Someone_A (who is the first choice to play in...,1
4,2: The football team had worked hard all seaso...,[Some People_A want(s) Someone_B (who is on th...,2

In [19]:
glucose_test_specific_df.to_csv("outputs/glucose_test_specific.csv")
glucose_test_general_df.to_csv("outputs/glucose_test_general.csv")