In [3]:
import pandas as pd

glucose_t5 = pd.read_csv("data/t5_training_data.tsv", sep="\t", header=None)

In [4]:
glucose_t5.head()

,0,1
0,2: *Tim got a new dog.* He tried to teach it f...,Tim like(s) dogs >Motivates> Tim got a new dog...
1,6: *Tim got a new dog.* He tried to teach it f...,Tim got a dog >Causes/Enables> Tim tried to te...
2,9: *Tim got a new dog.* He tried to teach it f...,Tim got a dog >Results in> Tim possess(es) a d...
3,7: The family hamster had escaped. *They were ...,The family hamster has escaped >Causes> We fee...
4,1: Kate threw a frisbee to her dog. The dog ca...,Kate's dog caught a frisbee >Causes/Enables> K...

In [9]:
glucose_t5.iloc[0].values

array(['2: *Tim got a new dog.* He tried to teach it fetch. The dog would not fetch. Tim kept trying for five weeks. Soon, the dog was great at playing fetch.',
       'Tim like(s) dogs >Motivates> Tim got a new dog ** Someone_A like(s) Something_A >Motivates> Someone_A got Something_A'],
      dtype=object)

In [13]:
glucose_t5_specific = pd.DataFrame()
glucose_t5_specific["input"] = glucose_t5.iloc[:, 0]

In [14]:
glucose_t5_specific.head()

                                               input
0  2: *Tim got a new dog.* He tried to teach it f...
1  6: *Tim got a new dog.* He tried to teach it f...
2  9: *Tim got a new dog.* He tried to teach it f...
3  7: The family hamster had escaped. *They were ...
4  1: Kate threw a frisbee to her dog. The dog ca...

In [15]:
glucose_t5_specific["target"] = glucose_t5.iloc[:, 1].apply(lambda x: x.split("**")[0].strip())

In [16]:
glucose_t5_specific.head()

,input,target
0,2: *Tim got a new dog.* He tried to teach it f...,Tim like(s) dogs >Motivates> Tim got a new dog
1,6: *Tim got a new dog.* He tried to teach it f...,Tim got a dog >Causes/Enables> Tim tried to te...
2,9: *Tim got a new dog.* He tried to teach it f...,Tim got a dog >Results in> Tim possess(es) a dog
3,7: The family hamster had escaped. *They were ...,The family hamster has escaped >Causes> We fee...
4,1: Kate threw a frisbee to her dog. The dog ca...,Kate's dog caught a frisbee >Causes/Enables> K...

In [17]:
glucose_t5_general = pd.DataFrame()
glucose_t5_general["input"] = glucose_t5.iloc[:, 0]

In [18]:
glucose_t5_general["target"] = glucose_t5.iloc[:, 1].apply(lambda x: x.split("**")[1].strip())

In [19]:
glucose_t5_general.head()

,input,target
0,2: *Tim got a new dog.* He tried to teach it f...,Someone_A like(s) Something_A >Motivates> Some...
1,6: *Tim got a new dog.* He tried to teach it f...,Someone_A got Something_A (that is a pet) >Cau...
2,9: *Tim got a new dog.* He tried to teach it f...,Someone_A got Something_A >Results in> Someone...
3,7: The family hamster had escaped. *They were ...,Something_A has escaped >Causes> Some People_A...
4,1: Kate threw a frisbee to her dog. The dog ca...,Something_A (Kate's dog) caught Something_B (a...

In [20]:
glucose_t5_specific.to_csv("data/glucose_t5_specific.tsv", sep="\t", header=None, index=None)
glucose_t5_general.to_csv("data/glucose_t5_general.tsv", sep="\t", header=None, index=None)